@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    box-sizing: border-box;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

body{
    height: 100vh;
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem;
    
}

.container{
    background-color: hsl(216, 50%, 16%);
    border: 0px solid #fff;
    border-radius: 10px;
    padding: 1rem;
    width: 16rem;
}

.image{
    position: relative;
    
}
.image img{
    border-radius: 10px;
}

.image div{
    position: absolute;
    background-color:  hsl(178, 100%, 50%, 60%);
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;  
}   
.image div:hover{
    opacity: 1;
    cursor: pointer;
    border-radius: 10px;
}
.image-view{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.content{
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    font-size: small;
    line-height: 20px;
}

.content h3 a{
    text-decoration: none;
    color:white;
}
.content h3 a:hover ,.content h3 a:focus{
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}

.price-duration{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid hsl(215, 32%, 27%);
    padding-bottom: 1rem;
    margin-bottom: 0.9rem;
    font-size: smaller;
    font-weight: 300;
}

.price-duration img{
    height: 0.9rem;
}

.price{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    color: hsl(178, 100%, 50%);
}

.duration{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    color:  hsl(215, 51%, 70%) ;
    }
    
.footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    color:  hsl(215, 51%, 70%);
    font-size: small;
}
.footer img{
    border: 1px solid white;
    border-radius: 50%;
    width: 1.5rem;
}
.footer-author{
    text-decoration:  none;
    color: white ;
}
.footer-author:hover,:focus{
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}

@media (max-width: 375px){
    body{
        padding: 1rem;
    }
    
    
}
@media (max-width: 540px){
    body{
        padding: 1rem;
    }
   
}

